.shot {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  position: relative;
}

.shot_image {
  max-width: 300px;
}

.shot_legend {
  background: rgba(0, 0, 0, .7);
  bottom: 14px;
  color: #FFFFFF;
  display: block;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: calc(100% - 20px);
}

.shot_title {
  display: inline-block;
  width: 70%;
}

.shot_views {
  display: inline-block;
  text-align: right;
  width: 30%;
}